In [2]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv(r'C:\Users\2340649\Documents\GitHub\Programmation2\ImportationExportationDonnées\data\nyc_taxi_2019-01.csv',
                
               usecols=['passenger_count','trip_distance','payment_type','total_amount'],
              )

j'ai supprimé index_col='VendorID', et  header=0

In [6]:
df

         passenger_count  trip_distance  payment_type  total_amount
0                      1           1.50             1          9.95
1                      1           2.60             1         16.30
2                      3           0.00             1          5.80
3                      5           0.00             2          7.55
4                      5           0.00             2         55.55
...                  ...            ...           ...           ...
7667787                1           4.79             1         23.16
7667788                1           0.00             1          0.00
7667789                1           0.00             1          0.00
7667790                1           0.00             1          0.00
7667791                1           0.00             1          0.00

[7667792 rows x 4 columns]

In [6]:
print("Nombre de déplacements ayant plus que 8 passagers est ->",
      df[df['passenger_count'] > 8]['passenger_count'].count())

Nombre de déplacement ayant plus que 8 passagers est -> 9

In [8]:
print("Nombre de déplacements ayant aucun passager est ->",
      df[df['passenger_count'] == 0]['passenger_count'].count())

Nombre de déplacements ayant aucun passager est -> 117381

In [17]:
print("Nombre de déplacements payés en espèce et qui coutent > 1000 dollars ->",
      df[(df['payment_type'] == 2) & (df['total_amount'] > 1000)]['passenger_count'].count())

Nombre de déplacements payés en espèce et qui coutent > 1000 dollars -> 5

In [11]:
print("Nombre de déplacements qui coute moins de 0 dollars ->",
      df[df['total_amount'] < 0]['passenger_count'].count())

Nombre de déplacements qui coute moins de 0 dollars -> 7131

In [13]:
cout_moyen=df['total_amount'].mean()
distance_moyenne=df['trip_distance'].mean()

In [14]:
cout_moyen

15.68222215991253

In [15]:
distance_moyenne

2.8010838491706607

In [16]:
print("Nombre de déplacements ayant une distance < à la moyenne et un coût > à la moyenne ->",
      df[(df['trip_distance'] <distance_moyenne) & (df['total_amount'] > cout_moyen)]['passenger_count'].count())

Nombre de déplacements ayant une distance < à la moyenne et un coût > à la moyenne -> 411255

les gent ont utilisé l'argent liquide en 2020 beaucoup moins que en 2020