In [1]:
import pandas as pd
s= pd.Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
from pandas import Series
s= Series([10,20,30,40,50])
print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
import numpy as np
arr= np.random.randint(0,100,10)

In [4]:
print(arr)
print(type(arr))

[43 70 16  5 66 74  4 88 23 20]
<class 'numpy.ndarray'>

In [5]:
arr=np.random.randint(70,101,10)

In [7]:
arr

array([74, 93, 92, 73, 90, 92, 96, 94, 81, 88])

In [11]:
np.random.seed(0)
arr=np.random.randint(70,101,10)
s=Series(arr)

In [9]:
s

0    82
1    85
2    91
3    70
4    73
5    97
6    73
7    77
8    79
9    89
dtype: int32

In [10]:
s.index='sept Oct Nov Dec Jan Feb Mar Apr Mai Jun'.split()
s

sept    82
Oct     85
Nov     91
Dec     70
Jan     73
Feb     97
Mar     73
Apr     77
Mai     79
Jun     89
dtype: int32

In [14]:
s.index=['sept','Oct','Nov','Dec','Jan','Feb','Mar','Apr','Mai','Jun']
s

sept    82
Oct     85
Nov     91
Dec     70
Jan     73
Feb     97
Mar     73
Apr     77
Mai     79
Jun     89
dtype: int32

In [15]:
np.random.seed(0)
arr1=np.random.randint(70,101,10)
index1='sept Oct Nov Dec Jan Feb Mar Apr Mai Jun'.split()
s=Series(arr1,index1)
s

sept    82
Oct     85
Nov     91
Dec     70
Jan     73
Feb     97
Mar     73
Apr     77
Mai     79
Jun     89
dtype: int32

In [16]:
print(f'yearly sum: {s.sum()}')
print(f'Serie shape: {s.shape}')
print(f'Serie shape[0]: {s.shape[0]}')
print(f'Number of elements in series(how many nan_null values are in the serie): {s.count()}')
print(f'yearly avearage: {s.sum()/s.count()}')
print(f'yearly avearage: {s.mean()}')

yearly sum: 816
Serie shape: (10,)
Serie shape[0]: 10
Number of elements in series(how many nan_null values are in the serie): 10
yearly avearage: 81.6
yearly avearage: 81.6

In [18]:
print(f'First semestrer: {s[:5].mean()}')
print(f'Second semestrer: {s[5:].mean()}')

First semestrer: 80.2
Second semestrer: 83.0

In [19]:
print(f'First semestrer: {s.iloc[:5].mean()}')
print(f'Second semestrer: {s.iloc[5:].mean()}')

First semestrer: 80.2
Second semestrer: 83.0

In [24]:
first_half_average = s.loc['sept':'Jan'].mean()
second_half_average = s.loc['Feb':'Jun'].mean()

In [25]:
print(f'First semestrer: {first_half_average}')
print(f'Second semestrer: {second_half_average}')

First semestrer: 80.2
Second semestrer: 83.0

In [26]:
print(f'Improvement: { second_half_average - first_half_average}')

Improvement: 2.799999999999997