In [1]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_csv(r'C:\Users\thinkbook\Documents\GitHub\Programmation2\data\nyc-parking-violations-2020.csv',
                
               usecols=['Plate ID','Registration State','Vehicle Make','Vehicle Color','Violation Time','Street Name'],
              )

In [4]:
df

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
...,...,...,...,...,...,...
12495729,62161MM,NY,FORD,1111A,3RD AVE,BR
12495730,GYE7330,NY,HONDA,0444P,PELHAM PARK DR,BLK
12495731,HNY4802,NY,FORD,0210A,LYDIG AVE,GY
12495732,T687081C,NY,TOYOT,0225P,E 68 STREET,BLK
12495733,3497ZN,WA,UTILI,0456A,W/S/O 182 STREET,WHITE

In [ ]:
### question 1 combien de lignes contient le data frame

In [5]:
len(df)

12495734

In [7]:
len(df.index)

12495734

In [9]:
df.shape[0]

12495734

### question 2 supprimer les lignes contenant des données manquantes

In [27]:
df2=df.dropna()

In [28]:
df2

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
5,KDG0693,PA,HYUN,0525P,B 99 ST,GY
...,...,...,...,...,...,...
12495729,62161MM,NY,FORD,1111A,3RD AVE,BR
12495730,GYE7330,NY,HONDA,0444P,PELHAM PARK DR,BLK
12495731,HNY4802,NY,FORD,0210A,LYDIG AVE,GY
12495732,T687081C,NY,TOYOT,0225P,E 68 STREET,BLK
12495733,3497ZN,WA,UTILI,0456A,W/S/O 182 STREET,WHITE

### question 4 nombre  des lignes supprimées

In [33]:
print("Nombre de contraventions comportant des informations manquantes: ",
      len(df)-len(df2))
nbr=len(df)-len(df2)

Nombre de contraventions comportant des informations manquantes:  447359

### question 5 montant perdu  à cause des lignes supprimées

In [34]:
print("Montant perdu: ",nbr *100)

Montant perdu:  44735900

### question 6

In [36]:
df6=df.dropna(subset=['Plate ID','Registration State','Vehicle Make','Street Name'])
df6

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
...,...,...,...,...,...,...
12495729,62161MM,NY,FORD,1111A,3RD AVE,BR
12495730,GYE7330,NY,HONDA,0444P,PELHAM PARK DR,BLK
12495731,HNY4802,NY,FORD,0210A,LYDIG AVE,GY
12495732,T687081C,NY,TOYOT,0225P,E 68 STREET,BLK
12495733,3497ZN,WA,UTILI,0456A,W/S/O 182 STREET,WHITE

### question 7

In [37]:
nbr1=len(df)-len(df6)
print("Nombre de contraventions comportant des informations manquantes: ",
      nbr1)

Nombre de contraventions comportant des informations manquantes:  63785

### question 8

In [38]:
print("Montant perdu: ",nbr1 *100)

Montant perdu:  6378500

### question 9

In [39]:
df9=df.dropna(subset=['Plate ID','Registration State','Street Name'])
df9

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
...,...,...,...,...,...,...
12495729,62161MM,NY,FORD,1111A,3RD AVE,BR
12495730,GYE7330,NY,HONDA,0444P,PELHAM PARK DR,BLK
12495731,HNY4802,NY,FORD,0210A,LYDIG AVE,GY
12495732,T687081C,NY,TOYOT,0225P,E 68 STREET,BLK
12495733,3497ZN,WA,UTILI,0456A,W/S/O 182 STREET,WHITE

### question 10

In [40]:
nbr2=len(df)-len(df9)
print("Nombre de contraventions comportant des informations manquantes: ",
      nbr2)

Nombre de contraventions comportant des informations manquantes:  1618

### question 11

In [41]:
print("Montant perdu: ",nbr2 *100)

Montant perdu:  161800